{% extends "Modules/layout.twig" %}
   
{% block content %}

<div class="row pm-table" id="corespaceuseredit">
    <div id="formSection">
        <button id="clientForm" onclick="show('clientForm')" class="btn btn-secondary" style="margin:5px;">Client</button>
        <button id="institutionForm" onclick="show('clientForm')" class="btn btn-secondary" style="margin:5px;">Institution</button>
        <button id="invoiceForm" onclick="show('clientForm')" class="btn btn-secondary" style="margin:5px;">Invoice informations</button>
    </div>
</div>

{% endblock %}