Options +FollowSymLinks -MultiViews

<Files "pfm-cli.php">
  Order Deny,Allow
  Deny from all
</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(css|jpe?g|gif|png|js|ico)$ [NC]
RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
