<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="admin">
	    <directory>tests/admin</directory>
    </testsuite>
    <testsuite name="manager">
      <file>tests/manager/ResourcesTest.php</file>
      <file>tests/manager/ClientsTest.php</file>
      <file>tests/manager/BookingTest.php</file>
      <file>tests/manager/ServicesTest.php</file>
      <file>tests/manager/InvoicesTest.php</file>
      <file>tests/manager/QuoteTest.php</file>
      <file>tests/manager/DocumentsTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
