select {
    -moz-appearance: none;
    background: rgba(255, 255, 255, 255) url("dropdown.png") no-repeat scroll 100% center / 20px 13px !important;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 6px 20px 6px 6px !important;
    width: auto;
}