select {
    -moz-appearance: none;
    background: rgba(255, 255, 255, 255) url("dropdown.png") no-repeat scroll 100% center / 20px 13px !important;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 6px 20px 6px 6px !important;
    width: auto;
}

.pm-content {
    background-color: #f1f1f1;
    min-height: 2000px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.pm-nav{
    background-color: #f1f1f1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.pm-form{
    background-color: #ffffff; 
    border: 7px solid #f1f1f1;
    min-height: 2000px;
}

.pm-form-short{
    background-color: #ffffff; 
    border: 7px solid #f1f1f1;
    padding-bottom: 7px;
}

.pm-table{
    background-color: #ffffff; 
    border: 7px solid #f1f1f1;
    padding-top: 7px;
    height: 2000px;
}

.pm-table-short{
    background-color: #ffffff; 
    border: 7px solid #f1f1f1;
    padding-top: 7px;
}

.bs-glyphicons{margin:0 -10px 20px;overflow:hidden}
.bs-glyphicons-list{padding-left:0;list-style:none}
.bs-glyphicons li{float:left;width:25%;height:115px;padding:25px;
                  font-size:10px;line-height:1.4;text-align:center;background-color:#f9f9f9;border:1px solid #fff}

.bs-glyphicons .glyphicon{margin-top:5px;margin-bottom:10px;font-size:24px}
.bs-glyphicons .glyphicon-class{display:block;text-align:center;word-wrap:break-word}

.bs-glyphicons li:hover{color:#fff;border:3px solid #fff;}@media (min-width:768px){
    .bs-glyphicons{margin-right:0;margin-left:0}
    .bs-glyphicons li{width:12.5%;font-size:12px}
}

.bs-glyphicons li a{color:#ffffff;}
.bs-glyphicons li a:hover{color:#ffffff;}

.pm-tile-container{
    background-color: #ffffff;
    min-height: 2000px;
}