select {
    -moz-appearance: none;
    background: rgba(255, 255, 255, 255) url("dropdown.png") no-repeat scroll 100% center / 20px 13px !important;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 6px 20px 6px 6px !important;
    width: auto;
}

#pm-content {
    background-color: #f1f1f1;
    min-height: 2000px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#pm-form{
    margin-top: 7px;
    background-color: #ffffff; 
    border-radius: 1px; 
    -moz-box-shadow: 0px 2px 2px 0px #e1e1e1;
    -webkit-box-shadow: 0px 2px 2px 0px #e1e1e1;
    -o-box-shadow: 0px 2px 2px 0px #e1e1e1;
    box-shadow: 0px 2px 2px 0px #e1e1e1;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#e1e1e1, Direction=180, Strength=2);
    padding: 7px;
}

#pm-table{
    margin-top: 7px;
    background-color: #ffffff; 
    border-radius: 1px; 
    -moz-box-shadow: 0px 2px 2px 0px #e1e1e1;
    -webkit-box-shadow: 0px 2px 2px 0px #e1e1e1;
    -o-box-shadow: 0px 2px 2px 0px #e1e1e1;
    box-shadow: 0px 2px 2px 0px #e1e1e1;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#e1e1e1, Direction=180, Strength=2);
    padding: 7px;
}