body,html{
    background-color: #e7ecf0;
}



@media (min-width: 1330px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

section{
    padding-left: 15px;
}

.pm-inline-div a{
    color: #585858;
    padding-left: 15px;
}

.pm-inline-div a:hover{
    color: #222;
    padding-left: 15px;
}

.pm-space-content{
    /* margin-top: 50px; */
}

.pm-space-navbar{
    /* margin-top: 50px; */
    background-color: #e7ecf0;
    padding-right: 0px;
    padding-left: 0px;
    color: #fff;
}

.pm-space-navbar a{
    color: #fff;
}

.pm-space-navbar a:hover{
    color: #f1f1f1;
}

.pm-space-navbar-no-header{
    margin-top: 7px;
}
