<li>
    <div class="inline pm-inline-div">
    <a id="menu-button" href="mynewmodule/{{id_space}}">{{Providers}}</a> 
    </div>
</li>

<li>
    <div class="inline pm-inline-div">
    <a id="menu-button" href="provideredit/{{id_space}}/0">{{NewProvider}}</a>
    </div>
</li>


