# example .env
PFM_WEB_URL=https://pfm.org
PFM_ADMIN=pfmadmin
PFM_SMTP_HOST=mailhog
PFM_SMTP_FROM=no-reply@pfm.org
# Secrets
# min 8 characters
PFM_ADMIN_PASSWORD=A_SUPER_SECRET_PASSWORD
PFM_ADMIN_EMAIL=support@pfm.org
PFM_ADMIN_APIKEY=123456789
PFM_INFLUXDB_TOKEN=DR67G73GHT68TY4

# If Google OpenID is present
#PFM_OPENID=google
#PFM_OPENID_GOOGLE_URL=https://oauth2.googleapis.com
#PFM_OPENID_GOOGLE_LOGIN=https://accounts.google.com/o/oauth2/v2/auth
#PFM_OPENID_GOOGLE_CLIENT_ID=XXXX.apps.googleusercontent.com
#PFM_OPENID_GOOGLE_CLIENT_SECRET=XXXXXXXXXXX

MYSQL_ROOT_PASSWORD=SOMEROOTPASSWORD
MYSQL_PASSWORD=ThePfmDbUserPassword

# Optional Sentry URL for debug
#PFM_SENTRY_DSN=

# If pfm-helpdesk is needed
#PFM_HELPDESK_EMAIL=support@pfm.org
#PFM_HELPDESK_IMAP_SERVER=mail.provider.name
#PFM_HELPDESK_IMAP_USER=support@pfm.org
#PFM_HELPDESK_IMAP_PASSWORD=xxxx

