#hider
{
    position:absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    margin-top: 0px; /*set to a negative number 1/2 of your height*/
    margin-left: 0px; /*set to a negative number 1/2 of your width*/
    /*
     z- index must be lower than pop up box
     */
    z-index: 99;
    background-color:Black;
    opacity:0.6;
}

.pm_popup_box
{
    
    position:fixed;
    top: 150px;
    left: 20%;
    width:70%;
    height:auto;
    margin-top: -5em; /*set to a negative number 1/2 of your height*/
    margin-left: -5em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    border:  1px solid #e1e1e1;
    border-radius: 10px;
    background-color:#fff;
    z-index:100;
    
}
