; Configuration

[Installation]
rootWeb = /platformmanager/
saveImages = disable

[BD]
dsn = 'mysql:host=localhost;dbname=platformmanager;charset=utf8'
login = root
pwd = "root"

[Menu]
headless = true

[Modules]
modules[] = "core"
modules[] = "ecosystem"
modules[] = "dev"
modules[] = "resources"
modules[] = "booking"
modules[] = "services"
modules[] = "invoices"
modules[] = "statistics"
modules[] = "mailer"
modules[] = "documents"
modules[] = "antibodies"

[Company]
name = "Platform-Manager"