; Configuration

[Installation]
rootWeb = /

[BD]
dsn = 
login = 
pwd = 

[Menu]
headless = false

[Modules]
modules[] = "core"
modules[] = "ecosystem"
modules[] = "resources"
modules[] = "services"
modules[] = "booking"
modules[] = "catalog"
modules[] = "invoices"
modules[] = "statistics"
modules[] = "mailer"
modules[] = "documents"
modules[] = "antibodies"
modules[] = "quote"
modules[] = "bulletjournal"
modules[] = "com"

[Company]
name = "Platform-Manager"