plans:
  - name: free
    color: "lavender"
    id: 0
    price: '0 euros'
    features:
      - customer management
      - resource management
      - resource booking
      - services management
      - quotes
      - invoices
      - public catalog
      - user communication
      - basic documentation
      - basic helpdesk
      - statistic reports (excel)
    limits:
      resources: 4
  - name: bronze
    price: 'tbd...'
    color: sienna
    id: 1
    features:
      - Grafana statistics interactive dashboards
      - Document visibility scopes
    flags:
      - grafana
      - documents
    limits:
      resources: 10
  - name: silver
    color: silver
    id: 2
    features: []
    flags: []
    limits:
      resources: 0
  - name: gold
    color: gold
    id: 3
    features: []
    flags: []
