; Configuration

[Installation]
rootWeb = /platformmanager/
saveImages = disable

[BD]
dsn = 'mysql:host=localhost;dbname=platformmanager;charset=utf8'
login = root
pwd = "root"

[Menu]
headless = false

[Modules]
modules[] = "core"
modules[] = "ecosystem"
modules[] = "dev"
modules[] = "database"
modules[] = "resources"
modules[] = "services"
modules[] = "booking"
modules[] = "catalog"
modules[] = "invoices"
modules[] = "statistics"
modules[] = "mailer"
modules[] = "documents"
modules[] = "antibodies"
modules[] = "quote"
modules[] = "bulletjournal"
modules[] = "com"

[Company]
name = "Platform-Manager"