{% extends "Modules/layout.twig" %}
   
{% block content %}

<div id="content" class="container pm-form">
    <div id="buttons">
        <button
            id="form_btn"
            onclick="show('spaceedit_form')"
            class="tab btn btn-primary"
            style="margin:5px; font-weight:bold">
            FORM
        </button>
        <button
            id="todo_btn"
            onclick="show('spaceedit_todo')"
            class="tab btn btn-secondary"
            style="margin:5px; font-weight:bold">
            TODO
    </button>
    </div>
    <div id="sections">
        <div id="spaceedit_form">
            {{ formHtml | raw }}
        </div>

        <div id="spaceedit_todo" style="display:none">
            TODO LIST
        </div>
    </div>
</div>


<script>
    function show(elemId) {
        const sections = [...document.getElementById('sections').children];
        const btns = [...document.getElementsByClassName('tab')];
        btns.forEach(btn => {
            (btn.id === event.target.id)
                ? btn.classList.replace('btn-secondary', 'btn-primary')
                : btn.classList.replace('btn-primary', 'btn-secondary');
        });
        sections.forEach(child => {
            if (child.id === elemId) {
                child.style.display = 'block';
            } else {
                child.style.display = 'none';
            }
        });
    }
</script>

{% endblock %}
