{% extends "Modules/layout.twig" %}

{% block content %}
<div class="container">
    <h3>PFM installation</h3>

    <div>
        <ul>
            <li>Code version: {{ data["tag"] }}</li>
            <li>Expected DB version: {{ data["edb"] }}</li>
            <li>Current DB version: {{ data["cdb"] }}</li>
        </ul>
    </div>
    <div>
    <h4>Needed upgrade</h4>
    <ul>
    {% for f in data.need %}
        <li>{{f}}</li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}
